        <main>
          <div class="row">
            <div class="col-md-5 col-sm-6 information-box">
              <h2>{{ userDatas.username }}</h2>
              <img class="profile" src="../../assets/images/userprof.png" />
              <br />
              <p>{{ userDatas.email }}</p>
              <br />
              <small>{{ userDatas.created_at }}</small>
              <br />
              <small>{{ userDatas.updated_at }}</small>
            </div>
          </div>
        </main>
      