<div class="row">
<div class="card col-md-3 m-4" *ngFor="let myData of userProfile">
    <div class="card-body">
      <img class="profile" src="../../assets/images/userprof.png"/>
      <!-- <h5 class="card-title" *ngFor="let user of singleData">{{user.full_name}}</h5>  -->
<h3><i class="fa fa-user" aria-hidden="true"></i>   {{myData.full_name}}</h3>
<h6><i class="fa fa-phone" aria-hidden="true"></i>   {{myData.mobile_no}}</h6>
<h6><i class="fa fa-suitcase" aria-hidden="true"></i>  {{myData.designation}}</h6>
<h6><i class="fa fa-building" aria-hidden="true"></i>   {{myData.user_company}}</h6>

    </div>
  </div>
</div>
<!-- <button (click)="getAllProjectDetails()">Click</button> -->